input {
    //padding: 7px 12px;
    // &:f    ocus {
    //     box-shadow: none;
    // }
}

ul {
    padding: 0;
}

li {
    padding-top: 10px;
    margin: 10px 0;
    background-color: #fff;
    list-style: none;
    & + & {
        border-top: 1px solid #eee;
    }
    p {
        margin: 0;
    }
}

.todo-text {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    // margin: 10px 1px;
    cursor: pointer;
    &.completed {
        text-decoration: line-through;
    }
}

footer {
    border-top: 1px solid green;
    padding-top: 10px
}

// .checkbox-material {
//     display: inline-block;
//     cursor: pointer;
// }
.btn-group {
    margin: 0;
}
